{% extends "layout.html" %} {% block title %}Index{% endblock %} {% block
content %}

<div class="container mt-1">
  <div class="col-sm-4">
    <form method="post">
      <div class="form-group row m-1">
        <label for="id" class="col-sm-2 col-form-label col-form-label-sm"
          >Id</label
        >
        <div class="col-sm-10">
          <input
            type="input"
            class="form-control form-control-sm"
            id="id"
            name="id"
            aria-describedby="emailHelp"
            placeholder="id?"
            value="{{request.form['id']}}"
          />
        </div>
      </div>
      <div class="form-group row m-1">
        <label for="title" class="col-sm-2 col-form-label col-form-label-sm"
          >Title</label
        >
        <div class="col-sm-10">
          <input
            type="input"
            class="form-control form-control-sm"
            id="title"
            name="title"
            placeholder="Name?"
            value="{{request.form['title']}}"
          />
        </div>
      </div>
      <div class="form-group row m-1">
        <label for="author" class="col-sm-2 col-form-label col-form-label-sm"
          >Author</label
        >
        <div class="col-sm-10">
          <input
            type="input"
            class="form-control form-control-sm"
            id="author"
            name="author"
            placeholder="Who?"
            value="{{request.form['author']}}"
          />
        </div>
      </div>
      <div class="form-group row m-1">
        <label for="" class="col-sm-2 col-form-label col-form-label-sm"></label>
        <div class="col-sm-10">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>

{% endblock %}
