{% extends "layout.html" %} {% block title %}Notes{% endblock %} {% block
content %}
<div class="container-fluid">
  {% for note in notes %}
  <div class="row">
    <div class="card mb-1 mt-1">
      <div class="card-body">
        <h5 class="card-title">{{note['title']}}</h5>

        <p class="card-text">{{note['id']}}</p>
        <p class="card-text">{{note['author']}}</p>
        <a href="#" class="btn btn-primary">Update</a>
        <a href="#" class="btn btn-primary">Delete</a>
        <a href="#" class="btn btn-primary">Upload Image</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
